$headersize: 4em;
$modalshow: block;
$modalhide: none;

.Drawer__Container{
    width: 25em;
    min-height: 100vh;
    z-index: 9000;
    right: 0;
    top: 0;
    position:fixed;
    transition: all 0.3s ease-in-out;
    transform: translate(25em);
    background-color: #fff;
    display: flex;
    backface-visibility: hidden;
}

.Drawer__Container--isOpen{
    transform: translateZ(0);
    box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
}

.app--is-drawer-visible{
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    transition: opacity 225ms;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.modal {
    display: $modalshow;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__container {
    width: 30em;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    box-shadow: -3px 0 10px #444;
}

.modal__header {
    display: grid;
    background-color: white;
    position: absolute;
    height: $headersize;
    width: 100%;
    box-shadow: 2px 3px 10px lightgrey;
}

.modal__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 0.6em;
    color: black;
    grid-row: 1;
    grid-column: 2 / 10;
}   

.modal__title h1 {
    text-align: left;
    vertical-align: middle;
}

.modal__btn {
    font-weight: bold;
    font-size: 1em;
    grid-row: 1;
    grid-column: 1;
    border: none;
    background-color: white;
    cursor: pointer;
}

.modal__content {
    margin-top: $headersize;
}
