$headersize: 56px;

.drawer__container{
    width: 25em;
    min-height: 100vh;
    z-index: 90000;
    right: 0;
    top: 0;
    position:fixed;
    transition: all 0.3s ease-in-out;
    transform: translate(25em);
    background-color: #fff;
    display: flex;
    backface-visibility: hidden;
}

.drawer__container--is-open{
    transform: translateZ(0);
    box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
}

.app--is-drawer-visible{
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    transition: opacity 225ms;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.drawer {
    background: radial-gradient(circle, rgba(112,112,112,0.75) 0%, rgba(0,0,0,0.75) 96%);
    height: 100%;
    z-index: 9000;
    top: 0;
    position: fixed;
    transition: all 1.3s;
    width: 100%;

}

.drawer__header {
    display: flex;
    align-items: center;
    background-color: white;
    position: absolute;
    height: $headersize;
    width: 100%;
    box-shadow: 2px 3px 10px lightgrey;
}

.drawer__title {
    font-weight: bold;
    font-size: 0.5em;
    color: black;
}   

.close__btn {
    display: flex;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
    background-color: white;
    cursor: pointer;
}

.drawer__content {
    margin-top: $headersize;
}
