.productPage {
    display: flex;
    justify-content: center;
}

.productPage__photo {
    flex-grow: 1;
    margin: 10px;
}

.productPage__productInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 2;
    text-align: start;
    margin: 10px;
}

.productPage__infoContent {

}

.productPage__productTitle {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.productPage__price {
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: bold;
}

.productPage__priceParcelas {
    color: grey;
    font-size: small;
    margin-left: 10px;
}

.productPage__chooseSize {
    color: grey;
    font-size: 12px;
    margin: 5px;
}

.productPage__sizes {
    margin-right: 0;
    margin-bottom: 15px;
}

.productPage__sizes button {
    margin: 5px;
}

.btn--clothingSize {
    color: black;
    background-color: white;    
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: bold;
}

.btn--cart {
    color: whitesmoke;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding: 7px 50px;
    font-weight: lighter;
    box-shadow: 0 0 20px 1px grey;
}