.searchAndBagProduct__container {
  height: 90vh;
  overflow-y: auto;
  justify-content: center;
}

.searchAndBagProduct__emptyBag {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
  font-weight: 500;
}

.total-price__tag{
  display: flex;
  width: 100%;
  padding: 17px 15px;
  bottom: 0;
  position: fixed;
  display: inline-block;
  background-color: #212529;

}

.total-price__text{
  font-size: 15px;
  font-weight: bolder;
  color: #ffffff;
}